@charset "UTF-8";

html {
    font-family: "Kiwi Maru", serif;
    /* font-weight: 400; */
    font-style: normal;

    font-size: 16pt;
}
/*背景
body{
    background-image: url(../image/     ファイル名      );
}
*/
nav {
    margin: 0;
    background-color: red;
    color: white;
}

.noto-sans-jp-uniquifier {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  h1 {
    margin: 0;
    background-color: red;
    color: white;
    padding: 0.2em;
 }

.menu {
    font-size: 0.8em;
}

 .menu ul {
    list-style-type: none;

    margin: 0;
    padding-inline-start: 0;
    
    display: flex;
    justify-content: right;
    
    background-color: darkred;
    color: antiquewhite;
 }

 .menu li {
    padding: 0.4em;
 }

 a {
    text-decoration: none;
    color: inherit;    /* 外側のエレメントの色を引き継ぐ */
 }

 menu {
    a:link,
    a:visited,
    a:hover,
    a:active {
        color: inherit;
    }
 }


 /*.menu a:link,
 .menu a:visited,
 .menu a:hover,
 .menu a:active {
    color: inherit;
 }
 */
.menu a:hover {
    background-color: red;
    /* opacity: 0.5; 　　戻してもいいかも*/
}

/*form.inquiry{

}
*/
form.inquiry label{
    display: inline-block;
    width: 10em;
    padding-right: 1em;
    text-align: right;
}
form.inquiry label span{
    color: aliceblue;

}

footer {
    background-color: brown;
    color: bisque;
    text-align: right;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 0.2em;
}